{% extends 'base.html' %}
{% load static %}

{% block title %}Colonias{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/list.css' %}?v={{STATIC_VERSION}}">
  <link rel="stylesheet" href="{% static 'css/icons.css' %}?v={{STATIC_VERSION}}">
{% endblock %}

{% block header_title %}
  <div class='nav-title'>Colonias</div>
{% endblock %}

{% block nav_right_options %}
  <a href="{% url 'colonies:create' %}"><i class='btn-icon ic-add'></i></a>
{% endblock %}

{% block content %}

  {% if list_colony %}
    <div class="list-container">
      {% for colony in list_colony %}
        <a class='list-item' href='{% url "colonies:detail" pk=colony.id %}'>
          <div class='list-fields' >
            <span class='list-item-name'>{{colony.name}}</span>
          </div>
        </a>
      {% endfor %}
    </div>
  {% else %}
    <span class='span-message'>Pulsa + para<br>añadir colonias</span>
  {% endif %}
{% endblock %}