{% extends 'base.html' %}
{% load static %}

{% block title %}Cats{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/list.css' %}?v={{STATIC_VERSION}}">
  <link rel="stylesheet" href="{% static 'css/icons.css' %}?v={{STATIC_VERSION}}">
  <link rel="stylesheet" href="{% static 'css/option-menu.css' %}?v={{STATIC_VERSION}}">
  <link rel="stylesheet" href="{% static 'cats/css/modal-form-filter.css' %}?v={{STATIC_VERSION}}">
{% endblock %}

{% block header_title %}
  <div class='nav-title'>{% if colony %}{{colony.name}}{% else %}Gatos{% endif %}</div>
{% endblock %}

{% block nav_right_options %}
  <button onclick='toggleModalFilter()' class='btn-icon ic-filter'></button>
  <a class='btn-icon ic-add' href="{% url 'cats:create' %}"></a>
  <button id='btn-option-menu' class='btn-icon ic-more'></button>
{% endblock %}

{% block content %}

  <div class='sub-info-bar'>  
    <span class='sub-info-group'>
      
      <span class='sub-info-pair'>
        <i class='icon icon-small ic-female-neutered'></i>
        <strong class='sub-info-value'>{{females_neutered}}/{{n_females}}</strong>
      </span>
    
      <span class='sub-info-pair'>
        <i class='icon icon-small ic-male-neutered'></i>
        <strong class='sub-info-value'>{{males_neutered}}/{{n_males}}</strong>
      </span>
    </span>

    <span class='sub-info-group'>
    
      <span class='sub-info-pair'>
        <strong class='sub-info-value'>{{n_neutered}}/{{total_cats}}</strong>
      </span>
    </span>
  </div>

  {% if list_cat %}
  <div class='list-scroll'>
    <div class='list-container'>
      {% for cat in list_cat %}
        <a class='list-item' href='{% url "cats:detail" pk=cat.id %}'>
          <div class='thumbnail-wrapper'>
            <img class='list-item-thumbnail' src='{% if cat.thumbnail %}{{cat.thumbnail.url}}{% endif %}' loading='lazy'>
          </div>
          <div class='list-fields'>
            <span class='list-item-name'>
              {{cat.name}}
              {% if cat.gender is None %}
              <i>-</i>
              {% else %}
                {% if cat.sterilized %}
                  <i class='icon icon-small {% if cat.gender %}ic-female-neutered{% else %}ic-male-neutered{% endif %}'></i>
                {% else %}
                  <i class='icon icon-small {% if cat.gender %}ic-female{% else %}ic-male{% endif %}'></i>
                {% endif %}
              {% endif %}
            </span>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>

  {% else %}
    <span class='span-message'>Pulsa + para<br>añadir gatos</span>
  {% endif %}
    
{% endblock %}

{% block option_menu %}
  <div id='option-menu' style='display:none'>
    <ul class='option-menu-list'>
      <li id='option-create-census'>Generar Censo</li>
    </ul>
  </div>
{% endblock %}

{% block modal %}

  <div id='modal-filter' class='modal-form-wrapper' style='display:none'>
  <!-- <div id='modal-filter' class='modal-form-wrapper'> -->
    <div class='modal-form-container'>
      <div class='modal-form-header'>
        Filtros
        <button id='btn-modal-close' class='btn-modal-close'>&#x2A2F</button>
      </div>
      <form id='form-filter' method='GET' action='{% url "cats:list" %}'>
        <input type='hidden' name='filter' value='true'>
        <div class='modal-form-body'>
          {% for field in form_cat_filter.visible_fields|slice:"0:3" %}
              {{field.label_tag}}
              {{field}}
          {% endfor %}
        </div>

        <button id='btn-show-more' type='button' onclick='toggleAdvancedForm()'>Mostrar más</button>
        
        <div id='div-advanced-form' class='modal-form-body' style='display:none'>
            {% for field in form_cat_filter.visible_fields|slice:"3:" %}
              {{field.label_tag}}
              {{field}}
          {% endfor %}
        </div>
      </form>
      <div class='modal-form-footer'>
        <a class='btn-modal-submit' href='{% url "cats:list" %}?filter=true'>Reset</a>
        <input type='submit' form='form-filter' value='Buscar' class='btn-modal-submit'>
      </div>
    </div>
  </div>

  <div id='modal-census' class='modal-form-wrapper' style='display:none'>
  <!-- <div id='modal-census' class='modal-form-wrapper'> -->
    <div class='modal-form-container'>
      <div class='modal-form-header'>
        Crear censo
        <button id='btn-modal-close' class='btn-modal-close'>&#x2A2F</button>
      </div>
      <form id='form-census' method='POST' action='{% url "downloads:census" %}'>
        {% csrf_token %}
        <div class='modal-form-body'>
          {% for field in form_census %}
              {{field.label_tag}}
              {{field}}
          {% endfor %}
        </div>
      </form>
      <div class='modal-form-footer'>
        <div></div>
        <input type='submit' form='form-census' value='Crear' class='btn-modal-submit'>
      </div>
    </div>
  </div>
  
{% endblock %}

{% block scripts %}
  <script type='text/javascript' src="{% static 'js/option-menu.js' %}"></script>
  <script type='text/javascript' src='{% static "cats/js/modal-form-filter.js" %}'></script>
  <script type='text/javascript' src='{% static "cats/js/list.js" %}'></script>
{% endblock %}