.div-link-map{
    width: fit-content;
}

.span-link-map{
    display: flex;
    flex-direction: row;
}

.span-link-map input{
    display: inline-block;
    flex-grow: 1;
}

.span-link-map a{
    display: inline-block;
    flex-grow: 1;
}