.detail-container{
  position: relative;
  border-radius: 2px;
  background-color: white;
  box-shadow: gray 1px 1px 5px;
  width:95%;
  max-width: 450px;
  min-height: 600px;
  height: 100%;
  display: flex;
  
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.detail-image-wrapper{
  width: 100%;
  height: auto;
}

.detail-list-wrapper{
  overflow-y: auto;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  padding: 10px 10px 100px 10px;
}

.detail-list{
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 8px;
  grid-row-gap: 2px;
  font-size: 16px;
  align-items: top;
  margin: 6px;
}

.detail-list > label{
  text-align: center;
  font-weight: bold;
  color: #363636;
  background: none;
  padding: 3px 8px;
  border-radius: 2px;
  border: 1px solid #737373;
}

.detail-list > span{
  font-weight: bold;
  color: #585858;
}

.span-date{
  color:#787878;
  margin-left: 10px;
}